################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FileConversionTool/.vs
/FileConversionTool/appsettings.json
